<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="edu.phystech.iag.kaiumov.schedule.ScheduleApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="s"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name="edu.phystech.iag.kaiumov.schedule.ui.activities.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="edu.phystech.iag.kaiumov.schedule.ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="edu.phystech.iag.kaiumov.schedule.ui.activities.SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings" />

        <activity android:name="edu.phystech.iag.kaiumov.schedule.ui.activities.StartActivity" />

        <activity android:name="edu.phystech.iag.kaiumov.schedule.ui.activities.EditActivity"/>

        <!-- Listed Widget -->
        <receiver android:name="edu.phystech.iag.kaiumov.schedule.widget.listed.ScheduleWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_list_info" />
        </receiver>

        <service
            android:name="edu.phystech.iag.kaiumov.schedule.widget.listed.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Paged Widget -->

        <receiver android:name="edu.phystech.iag.kaiumov.schedule.widget.paged.ScheduleWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_pages_info" />
        </receiver>

        <service
            android:name="edu.phystech.iag.kaiumov.schedule.widget.paged.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Notifications -->

        <receiver
            android:name="edu.phystech.iag.kaiumov.schedule.notification.Notificator$DeleteNotificationReceiver"
            android:exported="false" >
        </receiver>

        <receiver
            android:name="edu.phystech.iag.kaiumov.schedule.notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name="edu.phystech.iag.kaiumov.schedule.notification.Alarm$AlarmNotificationReceiver" />

        <service
            android:name="edu.phystech.iag.kaiumov.schedule.notification.MyService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>